  
   header, nav, article, footer {  
      width: 800px;  
      margin: 0 auto;  
   }  
   header {  
      border: 1px solid #333;  
      background-color: silver; 
   }  
   h1 {  
      text-align: center;  

   }  
   nav, article {  
      border-bottom: 1px solid #333;  
   }  
   nav ul {  
      margin: 0;  
      padding: 0;  
   }  
   nav ul li {  
      display: inline-block;  
      margin-right: 20px;  
   }  
   a {  
      text-decoration: none;  
      font-weight: bold;  
      color: green;  
   }  
   h2 {  
      color: #CC33FF;  
   }  
   p {  
      margin-left: 20px;  
   }  
   footer {  
      background-color: silver; 
      text-align: center;   
   }  
